<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand fw-bold" href="#" onclick="loadPage('beranda')">Rully Studio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="loadPage('beranda')">Beranda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="loadPage('tentang')">Tentang</a>
                </li>
                <!-- Dropdown Proyek -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="proyekDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Youtube
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="proyekDropdown">
                        <li><a class="dropdown-item" href="#" onclick="loadPage('pinoy-reggae-love-vibes')">Pinoy Reggae Love Vibes</a></li>
                        <li><a class="dropdown-item" href="#" onclick="loadPage('proyek-mobile')">Mobile Apps</a></li>
                        <li><a class="dropdown-item" href="#" onclick="loadPage('proyek-desain')">Desain Grafis</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#" onclick="loadPage('proyek-lain')">Lainnya</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>